<%- include("../partials/header.ejs") %>

<div class="container d-flex flex-column justify-content-center align-items-center">

  <h1 class="my-5">Seja bem vindo, você está logado</h1>

</div>

<%- include("../partials/footer.ejs") %>
